## 함수

In [1]:
def print_list(a):
  for i in a:
    print(i)

a_list = [3, 4, 62, 27, 83, 956, 26, 58, 3, 78, 168, 64, 78]

print_list(a_list)

3
4
62
27
83
956
26
58
3
78
168
64
78

In [3]:
def boy():
  print('I am a boy.')
  print('You are a girl.')

boy()

I am a boy.
You are a girl.

In [4]:
def compare(a, b):
  if a > b:
    print(f'{a} > {b}')
  elif a < b:
    print(f'{a} < {b}')
  else:
    print(f'{a} == {b}')

compare(1, 3)
compare(4, 3)
compare(3, 3)

1 < 3
4 > 3
3 == 3

## 예제: 구구단
다음 예와 같이 구구단을 2단부터 9단까지 계산해서 출력.

2 * 1 = 2

2 * 2 = 4

…        

9 * 9 = 81

In [5]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i, '*', j, '=', i * j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [6]:
# 다른 풀이
def multi(m):
  for n in range(1, 10):
    print(f'{m} * {n} = {m*n:2d}')

for i in range(2, 10):
  multi(i)

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [7]:
def f1(x):
  a = 3
  b = 5
  y = a * x + b
  return y

c = f1(10)
print(c)

35

In [9]:
# 삼각형의 넓이 구하는 함수
def area(base, height):
  A = base * height * 0.5
  return A

area(2, 1)

1.0

In [11]:
def quiz():
  ans = input('1 + 2 = ')
  return 1 + 2 == int(ans)

quiz()

False

## 예제: 숫자 읽기 함수(1~10)
매개변수로 받은 정수를 한국어로 표기한 문자열을 반환하는 함수 korean_number()를 정의하세요. 단, 매개변수는 1 이상 10 이하의 정수라고 가정합니다.

In [15]:
def korean_number(num):
  match num:
    case 1:
      print('일')
    case 2:
      print('이')
    case 3:
      print('삼')
    case 4:
      print('사')
    case 5:
      print('오')
    case 6:
      print('육')
    case 7:
      print('칠')
    case 8:
      print('팔')
    case 9:
      print('구')
    case 10:
      print('십')

korean_number(1)
korean_number(3)
korean_number(10)

일
삼
십

In [ ]:
# 다른 풀이
def korean_number(num):
    if num == 1:
        return '일'
    elif num == 2:
        return '이'
    elif num == 3:
        return '삼'
    elif num == 4:
        return '사'
    elif num == 5:
        return '오'
    elif num == 6:
        return '육'
    elif num == 7:
        return '칠'
    elif num == 8:
        return '팔'
    elif num == 9:
        return '구'
    elif num == 10:
        return '십'

## 예제
다음 triple() 함수를 완성하세요.

>>> def triple(x):
...     ██████ █ █ █
... 
>>> triple(2)
6
>>> triple('x')
'xxx'

In [19]:
def triple(x):
    return x+x+x

triple(2)
triple('x')

'xxx'

오늘의 날짜 객체를 구하는 코드는 다음과 같습니다.

>>> from datetime import datetime
>>> today = datetime.today()
>>> today
datetime.datetime(2021, 3, 21, 15, 46, 1, 94942)

위 코드의 today에서 연도를 구하는 방법은 다음과 같습니다.

>>> today.year
2021

태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 korean_age()를 작성.

In [23]:
from datetime import datetime
today = datetime.today()

def korean_age(BirthYear):
  age = today.year - BirthYear + 1
  return age

In [ ]:
# 다른 풀이

def triple(x):
    return x * 3

def korean_age(birth_year):
    from datetime import datetime
    today = datetime.today()
    return today.year - birth_year + 1


if __name__ == '__main__':
    print("triple(2):", triple(2))
    print("triple('x')", triple('x'))
    print("korean_age(2000):", korean_age(2000)

## 예제: 이자(단리) 계산

원금(Principal), 이율(rate), 기간(time)이 주어졌을 때, 이자(Interest)를 구하는 공식은 다음과 같습니다.
I = Prt

그리고 원리금(Amount)을 구하는 공식은 다음과 같습니다.
A = P(1+rt)

In [2]:
# 원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 이자를 구하는 함수 simple_interest()를 작성

def simple_interest(p, r, t):
  I = p * r * t
  return I

print(f'예1: {simple_interest(10000000, 0.03875, 5)}')
print(f'예2: {simple_interest(1100000, 0.05, 5/12)}')

예1: 1937500.0
예2: 22916.666666666668

In [4]:
# 원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 원리금을 계산하는 함수 simple_interest_amount()를 작성

def simple_interest_amount(p, r, t):
      A = p * (1 + r * t)
      return A

print(f'예1: {simple_interest_amount(10000000, 0.03875, 5)}')
print(f'예2: {simple_interest_amount(1100000, 0.05, 5/12)}')

예1: 11937500.0
예2: 1122916.6666666665

In [ ]:
# 다른 풀이

def simple_interest(p, r, t):
    return p * r * t
    
def simple_interest_amount(p, r, t):
    return p * (1 + r * t)

if __name__ == '__main__':
    print('Quiz 1')
    print('ex 1:', simple_interest(10000000, 0.03875, 5))
    print('ex 2:', simple_interest(1100000, 0.05, 5/12))

    print('\nQuiz 2')
    print('ex 1:', simple_interest_amount(10000000, 0.03875, 5))
    print('ex 2:', simple_interest_amount(1100000, 0.05, 5/12))

## 예제: 복리 계산
복리 예금의 원금(p), 연이율(r), 기간(t), 복리 횟수(n)에 대한 원리금을 계산하는 함수 compound_interest_amount()를 작성하세요.

원금(p) = 1500000

연이율(r) = 0.043

예 1: 6년간 매분기 이자를 주는 경우(t=6, n=4)

예 2: 6년간 2년마다 이자를 주는 경우(t=6, n=1/2)

In [1]:
def compound_interest_amount(p, r, t, n):
  P = p * (1 + r / n) ** (n * t)
  return P

print(f'예 1: {compound_interest_amount(1500000, 0.043, 6, 4)}')
print(f'예 2: {compound_interest_amount(1500000, 0.043, 6, 1/2)}')

예 1: 1938836.8221341055
예 2: 1921236.0840000005

In [2]:
# 다른 풀이
def compound_interest_amount(p, r, t, n):
    return p * (1 + r / n) ** (n * t)

if __name__ == '__main__':
    # ex 1
    print(compound_interest_amount(1500000, 0.043, 6, 4))

    # ex 2
    print(compound_interest_amount(1500000, 0.043, 6, 1/2))

1938836.8221341055
1921236.0840000005

## 람다

In [3]:
def hap(x, y):
  return x + y

hap(10, 20)

30

In [18]:
# 상단의 코드를 람다 형식으로 전환
(lambda x,y : x+y)(10, 20)

30

In [31]:
# map()
list(map(lambda x : x ** 2, range(5)))

# 람다가 아닌 보통의 함수로 표현
def square(x):
  return x ** 2

a = [0, 0, 0, 0, 0]
for i in range(5):
  a.append(square(i))
print(a)

[0, 1, 4, 9, 16]

In [35]:
# reduce()
from functools import reduce
reduce(lambda x, y : x + y, [0, 1, 2, 3, 4], 1)

11

In [37]:
# filter()
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [38]:
# 홀수만 돌려주는 filter
list(filter(lambda x: x % 2 == 1, range(10)))

[1, 3, 5, 7, 9]

In [40]:
# x % 2의 결과는 홀수일 경우에 1, 짝수일 경우에 0
# 1, 0으로 결과가 나오므로 이를 부울값처럼 이용할 수 있음.
list(filter(lambda x: x % 2, range(10)))

[1, 3, 5, 7, 9]

## 예제: 놀이공원
놀이 기구의 이름과 키 제한을 나타낸 문자열을 입력받아서, 놀이 기구의 이름, 탑승 가능한 키의 하한(下限)과 상한(上限)을 각 행에 출력합니다.

코드는 다음과 작성하며, ch03 폴더 아래에 파일명을 ridereader.py로 저장

def read(text):
    # 이곳에 코드를 작성하세요.
    return ridename, cmmin, cmmax


if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

In [56]:
def read(text):
    ridename = text.split(':')[0]
    limit = text.split(':')[1].strip()
    if limit.find('-') != -1:
      cmmin = None
      cmmax = None
    else:
      limit = limit.split('cm')
      cmmin = limit[0]
      if limit[1].find('~') != -1:
        cmmax = limit[1].strip('~')
      else:
        cmmax = None
  
    return ridename, cmmin, cmmax


if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

이름: 툼 오브 호러
하한: None
상한: None

In [ ]:
# 다른 풀이
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
        cmmin, cmmax = map(lambda x: int(x.replace('cm', '')), limit.split('~'))
    elif "이상" in limit:
        cmmin = int(limit.split("cm")[0])

    return ridename, cmmin, cmmax


if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)